{{ define "content" }}  
	 <main class="" id="main-collapse">

      <!-- Add your site or app content here -->

      <div class="hero-full-wrapper">
        <div class="grid">
          <div class="gutter-sizer"></div>
          <div class="grid-sizer"></div>

          <div class="grid-item">
            <img class="img-responsive" alt="" src="/static/assets/images/mcg.jpg">
            <a href="./story" class="project-description">
              <div class="project-text-holder">
                <div class="project-text-inner">
                  <h3>Vivamus vestibulum</h3>
                  <p>Discover more</p>
                </div>
              </div>
            </a>
          </div>
          
          {{ range $key, $value := .story }}

          <div class="grid-item">
            <img class="img-responsive" alt="" src="/static/assets/images/{{ $value.Img }}.jpg">
            <a href="./story" class="project-description">
              <div class="project-text-holder">
                <div class="project-text-inner">
                  <h3>{{ $value.Title }}</h3>
                  <p>{{ $value.Content }}</p>
                </div>
              </div>
            </a>
          </div>

          {{end}}


        </div>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function (event) {
          masonryBuild();
        });
      </script>

    </main>

{{ end }}